<h2>Update the drone</h2>

<form action="/drones/{{_id}}/edit" method="post">
  <div>
    <label for="name">Name</label>
    <input required maxlength="250" type="text" name="name" value="{{name}}">
  </div>
  <div>
    <label for="propellers">Propellers</label>
    <input required type="text" name="propellers" value="{{propellers}}">
  </div>
  <div>
    <label for="maxSpeed">MaxSpeed</label>
    <input type="text" name="maxSpeed" value="{{maxSpeed}}">
  </div>
  <button type="submit">Submit</button>
</form>